# Dependencies
node_modules/
vendor/

# Environment variables
.env
.env.local
.env*.local

# Build outputs
.next/
out/
dist/
bin/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
backend/internal/prisma/

